<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Homepage</title>
</head>
<body>
    
    <h1>This is the homepage</h1>

    <h2>Welcome <%= username %>, your email address is <%= email %> </h2>

    <p>(This is an ejs...)</p>

</body>
</html>