@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/*  
// MOBILE FIRST APPROACH - GENERAL STYLE FIRST
*/

/* MAIN STYLESHEET */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.content-width {
    max-width: 960px;
    margin: 0 auto;
}

header {
    font-size: 1.5em;
    height: 75px;
    background: rgba(59, 145, 255, 1);
    line-height: 75px;
}

main {
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 0%, #d7e1ec 74%);
    min-height: 765px;
}

header nav a {
    text-decoration: none;
    color: #fff;
}

header nav a:hover {
    color: rgba(23, 90, 179, 1); 
    text-decoration: underline;
    transition: all 300ms;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav svg:hover {
    fill: rgba(23, 90, 179, 1); 
    transition: all 300ms;
}

header nav svg {
    margin-bottom: -3px;
    margin-right: 5px;
}


footer {
    background: rgba(59, 145, 255, 1);
    color: #fff;    
    min-height: 100px;
    line-height: 100px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: rgba(191, 43, 82, 1);
    text-decoration: underline;
}


/* Home page Style */

#main-home {
    padding: 50px 0 50px 0;
}

#main-home h1, #main-home h2, #main-home p:nth-of-type(1) {
    text-align: center;
}

main h1 {
    font-size: 3em;
}

#main-home p:nth-of-type(1) {
    margin-top: 20px;
}

#instruments-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    gap: 30px;
}

#instruments-list > div {
    margin: 50px 30px 0 0;
}

.instrument-offer figure {
    border: 5px solid rgb(104, 168, 252);
    border-radius: 5px;
    overflow: hidden;
}

.instrument-offer figcaption {
    margin-top: -3px;
    text-align: center;
    background-color: rgb(104, 168, 252);
    padding: 5px;
}

.instrument-offer figure img {
    position: relative;
}

.price {
    position: relative;
    top: -280px;    
    max-width: 40%;
    background-color: rgb(104, 168, 252);
    padding: 0 10px 5px 5px;    
    border-bottom-right-radius: 30px;
    font-size: 1.2em;    
}

.price .price-symbol {
    display: inline-block;
    position: relative;
    top: 3.5px;
    left: 2px;
    font-size: .5em;
    vertical-align: top;    
}

.details-cart {
    margin-top: -40px;
    background-color: #1D4880;
    border: 5px solid #1D4880;;
    border-radius: 10px;
    display: flex;
}

.details-cart a:first-child {
    width: 70%;
    display: inline-block;    
    border-radius: 8px;
    text-decoration: none;
    color: #1D4880;
    background-color: #ffffff;   
    text-align: center;
    line-height: 35px;
}

.details-cart a:first-child:hover {
    color: #FF6554;
    text-decoration: underline;
}

.details-cart svg {
    margin-left: 20px;
    height: 30px;
    text-align: right;
    fill: #ffffff;
}

.details-cart svg:hover {
    fill: #AACC1B;
}

/* Cart Page Style */

#main-cart {
    padding: 30px 0 30px 0
}

#main-cart h1 {
    text-align: center;
    margin-bottom: 30px;
}


#main-cart table { 
    width: 100%; 
}

#main-cart thead th:nth-of-type(1) {
    width: 70%;
}

#main-cart tbody td:nth-of-type(2) {
    text-align: center;
}

#main-cart tbody td:nth-of-type(3) {
    text-align: center;
}

#main-cart table th, #main-cart table td { 
    text-align: left; 
    padding: .75em 0.25em;
}

#main-cart thead {
    background: #1D4880;
    color: #ffffff;    
}

#main-cart thead th  {
    text-align: center;
}

#main-cart tbody tr:nth-child(odd){ 
    
}

#main-cart table tr:nth-child(even){
    background: rgb(233, 245, 255);
}




.shopping-cart-table svg {
    height: 30px;

}

/*  
// MEDIUM SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:600px) {

}

/*  
// BIG SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:1025px) {     

}