/*  
// MOBILE FIRST APPROACH - GENERAL STYLE FIRST
*/

/* MAIN STYLESHEET */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.content-width {
    max-width: 960px;
    margin: 0 auto;
}

/* HEADER */ 

header {
    font-size: 1.5em;
    height: 75px;
    background: rgba(59, 145, 255, 1);
    line-height: 75px;
}

main {
    background-color: #ffffff;
    background-image: linear-gradient(180deg, #ffffff 0%, #d7e1ec 74%);
    min-height: 750px;
}

header nav a {
    text-decoration: none;
    color: #fff;
}

header nav a:hover {
    color: rgba(23, 90, 179, 1); 
    text-decoration: underline;
    transition: all 300ms;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

header nav svg:hover {
    fill: rgba(23, 90, 179, 1); 
    transition: all 300ms;
}

header nav svg {
    margin-bottom: -4px;
    margin-right: 5px;
}


footer {
    background: rgba(59, 145, 255, 1);
    color: #fff;    
    min-height: 100px;
    line-height: 100px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: rgba(191, 43, 82, 1);
    text-decoration: underline;
}


/* Home page Style */

#main-home {
    padding: 50px 0 50px 0;
}

#instruments-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    gap: 30px;
}

#instruments-list > div {
    margin: 50px 30px 0 0;
}

.instrument-offer figure {
    border: 5px solid rgb(104, 168, 252);
    border-radius: 5px;
    overflow: hidden;
}

.instrument-offer figcaption {
    margin-top: -3px;
    text-align: center;
    background-color: rgb(104, 168, 252);
    padding: 5px;
}

.instrument-offer figure img {
    position: relative;
}

.price {
    position: relative;
    top: -5px;
    margin: 0 auto;    
    max-width: 55%;
    background-color: #FF6554;
    padding: 10px;
    border-radius: 30px;
    font-size: 2em;    
}

.price .price-symbol {
    display: inline-block;
    position: relative;
    top: 7px;
    left: 5px;
    font-size: .5em;
    vertical-align: top;    
}

.details-cart {
    margin-top: -15px;
    background-color: #1D4880;
    border: 5px solid #1D4880;;
    border-radius: 10px;
    display: flex;
}

.details-cart a:first-child {
    width: 70%;
    display: inline-block;    
    border-radius: 8px;
    text-decoration: none;
    color: #1D4880;
    background-color: #ffffff;   
    text-align: center;
    line-height: 35px;
}

.details-cart svg {
    margin-left: 20px;
    height: 30px;
    text-align: right;
    fill: #ffffff;
}

/*  
// MEDIUM SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:600px) {

}

/*  
// BIG SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:1025px) {     

}