/*  
// MOBILE FIRST APPROACH - GENERAL STYLE FIRST
*/

/* MAIN STYLESHEET */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.content-width {
    max-width: 960px;
    margin: 0 auto;
}

/* HEADER */ 

header {
    font-size: 1.5em;
    height: 75px;
    background: rgba(59, 145, 255, 1);
    line-height: 75px;
}

main {
    min-height: 600px;    
    padding-bottom: 50px;
}

header nav a {
    text-decoration: none;
    color: #fff;
}

header nav  a:hover {
    color: rgba(23, 90, 179, 1); 
    text-decoration: underline;
    transition: all 300ms;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;

}

/* FOOTER */

footer {
    background: rgba(59, 145, 255, 1);
    color: #fff;    
}

footer a {
    text-decoration: none;
    color: #fff;
}

footer a:hover {
    color: rgba(191, 43, 82, 1);
    text-decoration: underline;
}

footer #contact-information-footer {
    padding: 100px 20px;    
}

footer #contact-information-footer h2 {
    font-size: 45px;
}

footer #contact-information-footer h2 + p {
    font-weight: bold;
    margin: 5px 0 50px 0;
}

footer #contact-information-footer div div:nth-of-type(2) p:first-of-type {    
    margin: 0 0 15px 0;
}

footer #contact-information-footer ul {
    list-style-type: none;
}

footer #contact-information-footer ul li {
    margin: 3px 0;
}

footer #contact-information-footer ul i {
    margin-right: 10px;
    text-align: center;
}

footer #copyright-information-footer {
    background: rgba(23, 90, 179, 1);  
    padding: 30px 20px;    
    font-size: smaller;
}

/* HOME PAGE */

/* PROFESSIONAL PROFILE */

#professional-profile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 16px;
    color: rgb(53, 53, 53);
    padding: 20px 10px;
}

#professional-profile #profile-headings {
    grid-column: 1 / span 4;
}

#professional-profile #heading-name {    
    font-size: 30px;
    color: rgb(35, 35, 35);
    margin-top: 40px;
}

#professional-profile #heading-title {    
    color: rgb(100, 100, 100);
    margin: 5px 0 20px 0; 
}

#profile-picture figure {    
    overflow: hidden;
    margin-bottom: 20px;
    max-width: 100%;
    margin-right: 20px;
}

#professional-profile p {
    color: rgb(100, 100, 100);
    margin: 20px 0;
    line-height: 25px;
}

#profile-picture {
    grid-column: 1 / span 5;
}

#professional-description {
    grid-column: 1 / span 5;
}


/*  
// MEDIUM SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:600px) {

}

/*  
// BIG SCREENS - MEDIA QUERY BREAK
*/
@media (min-width:1025px) {     

    /* HOME PAGE */
    
    #professional-profile {
        padding: 0 20px;
    }    

    #profile-picture {
        grid-column: 1 / span 1;
    }
    
    #professional-description {
        grid-column: 2 / span 4;
    }
}